@model HomeViewModel

<div class="row px-lg-5 m-lg-4 m-sm-0 px-sm-0" style="--bs-gutter-x:0">
    @if (Model.VillaList is not null && Model.VillaList.Any())
    {
        @foreach (var villa in Model.VillaList)
        {
            <div class="p-4 col-md-12 col-lg-6">
                @await Html.PartialAsync("_VillasCardPartial", new HomeVillaChildViewModel()
                {
                    HomeViewModel = Model,
                    Villa = villa
                })
            </div>
            @await Html.PartialAsync("_VillaModalPartial", new HomeVillaChildViewModel()
            {
                HomeViewModel = Model,
                Villa = villa
            })
        }
    }
</div>