@model HomeVillaChildViewModel
<div class="modal fade" id="exampleModal-@Model.Villa.Id" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-xl" style="border: 1px solid #aaa; border-radius:7px;">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-3 text-success" id="exampleModalLabel">Villa Details - @Model.Villa.Name</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body m-0">
                <div class="row">
                    @await Html.PartialAsync("_VillaDetailCardPartial", Model.Villa)
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close
                </button>
            </div>

        </div>
    </div>
</div>